* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Fond clair pour le corps */
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 40px;
    background-color: #ffffff; /* Fond blanc pour le conteneur */
    border-radius: 12px; /* Bordures arrondies */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

h1, h2 {
    color: #4CAF50; /* Couleur verte pour les titres */
    margin-bottom: 20px; /* Espacement sous les titres */
}

form {
    margin-bottom: 20px; /* Espacement sous le formulaire */
}

input {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px; /* Bordures douces */
    font-size: 16px;
    width: 100%; /* Pleine largeur pour les champs */
    transition: border-color 0.3s; /* Transition pour effet au focus */
}

input:focus {
    border-color: #4CAF50; /* Couleur au focus */
    outline: none;
}

button {
    padding: 15px;
    border: none;
    border-radius: 6px; /* Bordures douces */
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Prendre toute la largeur du formulaire */
    transition: background-color 0.3s, transform 0.2s; /* Transition pour effet au survol */
    margin-top: 10px; /* Espacement au-dessus du bouton */
}

button.ajouter {
    background-color: #4CAF50; /* Couleur verte pour le bouton Ajouter */
    color: white;
}

button.ajouter:hover {
    background-color: #45a049; /* Couleur au survol */
}

button.modifier {
    background-color: #007BFF; /* Couleur bleue pour le bouton Modifier */
    color: white;
}

button.modifier:hover {
    background-color: #0056b3; /* Couleur au survol */
}

button.supprimer {
    background-color: #dc3545; /* Couleur rouge pour le bouton Supprimer */
    color: white;
}

button.supprimer:hover {
    background-color: #c82333; /* Couleur au survol */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Espacement au-dessus du tableau */
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd; /* Bordures des cellules */
}

th {
    background-color: #f2f2f2; /* Fond léger pour les en-têtes */
    color: #333;
}

a {
    color: #4CAF50; /* Couleur du lien */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Soulignement au survol */
}

.message {
    margin: 20px 0;
    font-size: 18px;
    color: #4CAF50; /* Couleur pour les messages */
}